---
layout: index-default
title2: geekLectionsIndex
---

<div class="home">

  <h1 style="color:#bbbbbb;">Posts</h1>

  <ul class="post-list">
    
{% for post in site.posts %}
      
  <div class="panel panel-info {% for row in site.data.blog-page-colours %}{% if post.tags[0] == {{row.postType}} %}panel{{row.panelLabel}}{% endif %}{% endfor %}">
    <div class="panel-heading">
      
        <h2>
        <a href="{{ post.url | prepend: site.baseurl }}" {% for row in site.data.blog-page-colours %}{% if post.tags[0] == {{row.postType}} %}style={{row.outputColour}}{% endif %}{% endfor %}>{{ post.title }}</a>
        </h2>
        <h3 class="panel-title yolo-date">{{ post.date | date: '%B %-d, %Y | %H:%M' }} {% for tag in post.tags %} | {{tag}} {% endfor %}</h3>
        
    </div>
    <div class="panel-body">
      <p>
        {{ post.excerpt }}
      </p>
      <div class="yolo-date">
          <a href="{{ post.url | prepend: site.baseurl }}" {% for row in site.data.blog-page-colours %}{% if post.tags[0] == {{row.postType}} %}style={{row.outputColour}}{% endif %}{% endfor %}>
              Continue Reading»</a>
        </div>
    </div>
  </div>

      
{% endfor %}
      
  </ul>

  <p class="rss-subscribe" style="color:#bbbbbb;">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
