
        <div class="col-sm-3 blog-sidebar">
        <!--<div class="col-sm-3 col-sm-offset-1 blog-sidebar">-->
          
              <div class="panel panel-default">
                <div class="panel-body">
                    <div class="sidebar-module">
       <!--Check if this is the main page, no need for back-link there-->      
              {% if page.title2 == "geekLectionsIndex" %}{% else %}
            <h4><a href="{{ site.baseurl }}/index.html">Blog / News</a></h4>
              {% endif %}
            
                
            <h4>Current Elections</h4>
            <ol class="list-unstyled" style="font-size:12px">
              <li><a href="#">Coming Soon</a></li>
            </ol>      
                        
            <h4>Historical Elections</h4>
            <ol class="list-unstyled" style="font-size:12px">

                <li><a class="list-unstyled" href="http://www.geeklections.com.au/2013-federal-election/index.html">2013 Federal Election </a></li>
                <li><a class="list-unstyled" href="http://www.geeklections.com.au/2014-wa-election/index.html">2014 WA Senate Re-Election</a></li>
                <li><a class="list-unstyled" href="http://www.geeklections.com.au/2014-sa-election/index.html">2014 South Australian Election</a></li>
                <li><a class="list-unstyled" href="http://www.geeklections.com.au/2014-vic-election/index.html">2014 Victorian Election</a></li>
            </ol>
                    

            <h4>Psephology Blogs</h4>
            <ol class="list-unstyled" style="font-size:12px">
              {% for blog in site.data.psephology-links %}
                <li><a href="{{blog.blogURL}}">{{blog.blogName}}</a></li>
              {% endfor %}
            </ol>          
            <h4>Archives</h4>
            <ol class="list-unstyled" style="font-size:12px">
              <li><a href="#">Coming Soon</a></li>
            </ol>

            <h4>Pages</h4>
            <ol class="list-unstyled" style="font-size:12px">
            {% for my_page in site.pages %}
              {% if my_page.title %}
                <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
              {% endif %}
            {% endfor %}
            </ol>    

                        
                        
          <h4>Find Me Elsewhere</h4>
            <ol class="list-unstyled" style="font-size:12px">
                
              <li><a href="https://www.github.com/{{site.github_username}}">GitHub</a></li>
              <li><a href="https://www.twitter.com/{{site.twitter_username}}">Twitter</a></li>
              <li><a href="https://plus.google.com/{{site.googleplus_username}}">google+</a></li>
            </ol>
          </div>
        </div>
        </div>
        </div><!-- /.blog-sidebar -->
      <!--end additional blog stylings-->  